<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body titulo">
                    <h3>Tarjeta Credito</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 id="titleForm" class="titulo">{{action | uppercase}}</h5>
                    <form [formGroup]="form" (ngSubmit)="agregarTarjeta()" class="mt-4">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-user" 
                                [class.green-icon] = "this.form.get('titular')?.valid" 
                                [class.red-icon] = "this.form.get('titular')?.invalid && this.form.get('titular')?.touched"></i>
                            </span>
                            <input formControlName="titular" type="text" class="form-control" placeholder="Titular">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-credit-card"
                                [class.green-icon] = "this.form.get('numeroTarjeta')?.valid" 
                                [class.red-icon] = "this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched"></i>
                            </span>
                            <input formControlName="numeroTarjeta" maxlength="16" type="text" class="form-control" placeholder="Numero de Tarjeta">
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-calendar-days"
                                        [class.green-icon] = "this.form.get('fechaExpiracion')?.valid" 
                                        [class.red-icon] = "this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion')?.touched"></i>
                                    </span>
                                    <input formControlName="fechaExpiracion" maxlength="5" type="text" class="form-control" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-key"
                                        [class.green-icon] = "this.form.get('cvv')?.valid" 
                                        [class.red-icon] = "this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"></i>
                                    </span>
                                    <input formControlName="cvv" maxlength="3" type="password" class="form-control" placeholder="CVV">
                                </div>
                            </div>
                        </div>
                        <div class=" grap-2">
                            <button type="submit" [disabled]="this.form.invalid" class="btn btn-success btn-lg col-lg-12"><i class="fa-solid fa-database"></i>&nbsp;&nbsp;Guardar Tarjeta</button>
                        </div>
                        <div class=" grap-2" id="divCancelar" style="display: none !important;">
                            <button type="button" (click) = "cancelar()" [disabled]="this.form.invalid" class="btn btn-danger btn-lg col-lg-12 mt-4"><i class="fa-solid fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Lista de de Trajetas</h5>
                    <table class="table mt-4 center">
                        <thead>
                            <tr>
                                <th>Nombe del Tiular</th>
                                <th>Numero de Tarjeta</th>
                                <th>Fecha de Expiración</th>
                                <th>CVV</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tarjeta of listTarjetas; let i = index">
                                <td>{{ tarjeta.titular }}</td>
                                <td>{{ tarjeta.numeroTarjeta }}</td>
                                <td>{{ tarjeta.fechaExpiracion }}</td>
                                <td>{{ tarjeta.cvv }}</td>
                                <td>
                                    <i (click) ="editarTarjeta(i)" class="far fa-solid fa-pen-to-square text-info"></i>
                                </td>
                                <td>
                                    <i (click) = "eliminarTarjeta(tarjeta.numeroTarjeta)" class="far fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
